<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Jika file/folder ada, biarkan
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Semua request lainnya diarahkan ke index.html
    RewriteRule ^.*$ index.html [L]
</IfModule>
